*{
	box-sizing: border-box;
}


body{
	position: relative;
	margin:0;
	padding:0;
}
button{
	margin-right: 15px;
	padding: 15px;
	background-color:green;
	color:#fff;
	font-size: 17px;
}
span{
	color:darkgreen;
	font-size: 18px;
}
p{
	font-size: 15px;
}
h3{
	font-size: 22px;
}
img{
	width: 80%;
	height: 220px;
}

#cart a{
	text-decoration: none;
	color:white;
}

#cart{
	background-color:royalblue;
}



.pricetext{
	font-size: 20px;
}


.sorting{
	display:flex;
	justify-content: center;
	padding: 30px;
	background-color: silver;
	margin-bottom: 30px;
}


.products{
	padding: 20px;	
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	grid-gap:23px;
	margin: 0 auto;
	max-width: 1000px;
}

.products-cart{
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px;	
}

.products-cart__elements{
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin-bottom: 25px;
	border-bottom: 2px grey solid;
	padding-bottom: 15px;
	align-items: center;
	}



.products-cart__elements img{
	width: 60px;
	height: 50px;
	
}

.products-cart__elements h3{
	width: 20%;
}

.product{
	border:solid black 1px;
	text-align: center;
	padding-bottom: 10px;
	border-radius: 2%;
}


.cart{
	margin-right: 0;
	font-size: 15px;
	padding: 10px;
	width: 170px;

}

.cart:active{
	background-color: blue;
}

#cartsum{
	color:black;
	font-size: 20px;
	display: block;
}

.buttoncart{
	display:block;
	margin: 20px auto;
	text-decoration: none;
	padding: 10px;
	background-color: tomato;
	color: white;
	width: 120px;
	text-align: center;
	font-size: 20px;
	border:none;
}

.delete__cart{
	padding: 5px;
	
}


.none{
	display: none;
}


